*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cruds{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    background: #111;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 4px 0;
    padding: 4px;
    color: white;
}
input:focus{
    background: black;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#Total{
    background: #690000;
    padding: 4px 4px;
}
#Total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    padding: 4px;
    border-radius: 20px;
    background: #4b0069;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
button:hover{
    background: #620080;
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
    
}
.btnsearch button{
    width: 45%;
}
#DeleteAll{
    margin: 20px 0px;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}